[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.3"
numpy = "==1.26.4"
joblib = "==1.4.2"
scikit-learn = "==1.5.0"
tqdm = "==4.66.4"
talib = "*"
yfinance = "==0.2.38"
pandas-datareader = "==0.10.0"
ta-lib = "==0.4.32"

[dev-packages]

[requires]
python_version = "3.10"
