dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
plotly==5.21.0
numpy==1.26.4
pandas==2.0.3
yfinance==0.2.38
pandas-datareader==0.10.0
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.5.0
joblib==1.4.2
tensorflow==2.16.1
keras==3.3.3
tqdm==4.66.4
requests==2.31.0
ta==0.11.0
TA-Lib==0.4.32
SQLAlchemy==2.0.31
pyarrow==11.0.0
fastparquet==2024.5.0